.container_about{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 110px);
}
.top1{
    background-color: #E3A1AD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper1{
   
    width: 350px;
    height: 350px;
    display: flex;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 200px;
  
    z-index: 10;
}
.info_img{

    flex: 1;
}
.info_img img{
    border-radius: 20px;
    
        width: 350px;
      
}
.info_data{
    flex:1;
}
.info_data p{
    font-weight: 400;
    color: #555555;
}


