.login{
  width: 100%;
   height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    background-size: cover;
}
.logintitle{
    font-size: 50px;
}
.loginform{
    width: 50%;
    margin-top: 20px;
    
    display: flex;
    flex-direction: column;
}

.loginform > label{
    margin: 10px 0;
}
.loginform>Input{
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    border: none;
    border-bottom: 1px solid gray;
}
.loginform>Input:focus{
    outline:none;
}
.loginuser{
        margin-top: 20px;
        cursor:pointer;
        background-color: lightcoral;
        border: none;
        color: white;
        border-radius:10px;
        padding: 10px;
}
.loginuser:disabled{
        cursor: not-allowed;
        background-color: rgb(229, 166, 166);
}
.registeruser{
   position: absolute;
   top: 60px;
   right: 20px;
   cursor: pointer;
   border: none;
   background-color: teal;
   padding: 10px;
   color: white;
   border-radius: 10px;
}
