.register{
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
.registerform{
    display: flex;
    flex-direction: column;
    width: 50%;

}
.registertitle{
    font-size: 50px;
}
.registerloginbtn{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}
.registerform>label{
    margin-top: 10px;
}
.registerform>input:focus{
    outline: none;
}
.registerform>input{
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    border-bottom: 1px solid gray;

}

.registerbtn{
    padding: 10px;
    margin: 20px 0px;
    border: none;
    color: white;
    background-color: teal;
    border-radius: 10px;
    cursor: pointer;
}
.registerbtn:hover{
    background-color: rgb(23, 116, 116);
    color: rgb(42, 40, 40);
}