.profile{
    display: flex;
 
}
.profilewrapper{
   flex:9;
   padding: 20px;
}

.profiletitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profiletitleupdate{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}
.profiletitledelete{
    font-size: 12px;
    /* margin-bottom: 20px; */
    color: red;
    cursor: pointer;

}
.profileform{
    display: flex;
    flex-direction: column;
}
.profilepicture{
    display: flex;
    align-items: center;
    /* //top-bottom and right-left */
    margin:10px 0;
}
.profilepicture >img{
        width: 70px;
        height: 70px;
        border-radius: 40px;
        object-fit: cover;
}
.profilepictureicon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}
.profileform > label{
    font-size: 20px;
    margin-top: 20px;
}
.profileform >input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}
/* .profileform >input:focus{
    outline: none;
} */

.profilesubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

