.container_footer{
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;
}
.terms{
 display: flex;
 color: rgb(61, 60, 60);
 justify-content: space-around;
 gap: 10px;
 cursor: pointer;
}

.reserve{
    color: gray;
    font-weight:bold;
}
@media screen and (max-width:768px){
        .container_footer{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
}   